/* Main container for both cards */
.promo-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
  max-width: 100%;
}

/* Individual card styling */
.watch-promo-container {
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  flex: 1;
  min-width: calc(50% - 20px);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

/* First card background */
.watch-promo-container.watch-card {
  background-image: url("../assets/home/watch-series-5.jpg");
}

/* Apple Card background */
.watch-promo-container.apple-card {
  background-image: url("../assets/home/apple-card.jpg");
}

.promo-content {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 450px;
  width: 100%;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .promo-row {
    flex-direction: column;
  }

  .watch-promo-container {
    min-width: 100%;
    height: 700px;
  }
}
